/*
 * style.css
 * Common styles for board and other.
 *
 * Restarted by oziroe on July 31, 2017.
 */

body {
    font-family: sans-serif;
}

#board-tiles-container {
    position: relative;
    border: 1px solid;
}

.board-tile {
    position: absolute;
    text-align: center;
    border: 1px solid;
    font-size: 20px;
}
